/* Lissage du rendu du texte */
* { -webkit-font-smoothing: antialiased; }

/* Dimensions de base de la page */
html, body {
  margin: 0;
  height: 100%;
}

/* Focus visible pour l’accessibilité */
button:focus-visible {
  outline: 2px solid #4a90e2 ;
  outline: -webkit-focus-ring-color auto 5px ;
}

/* Style de base des liens */
a { text-decoration: none; }

/* Navigation : soulignement au survol sans décaler la mise en page */
.items .div {
  border-bottom: 2px solid transparent;
}
.items .div:hover {
  border-bottom: 2px solid #27408B;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

/* ===== MENU BURGER - responsive ===== */

#menu-toggle {
  display: none;
}

/* Icône burger */
.menu-btn {
  font-size: 32px;
  cursor: pointer;
  display: none; /* caché en desktop */
  user-select: none;
}

/* Menu normal sur desktop */
.items {
  display: flex;
  gap: 20px;
}

/* ----- VERSION MOBILE ----- */
@media (max-width: 768px) {

  /* On montre l'icône burger */
  .menu-btn {
    display: block;
  }

  /* On cache le menu par défaut */
  .items {
    display: none;
    flex-direction: column;
    gap: 15px;
    background: white;
    padding: 15px;
  }

  /* Quand on clique sur le burger (checkbox cochée) */
  #menu-toggle:checked ~ .items {
    display: flex;
  }
}


