@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Cinzel:700|Libre+Baskerville:400|Inter:var(--small-text-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.items .div:hover {
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.items .div:hover {
  border-bottom: 2px solid #27408B;
}
