/* Lissage du rendu du texte */
* { -webkit-font-smoothing: antialiased; }

/* Dimensions de base de la page */
html, body {
  margin: 0;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 ;
  outline: -webkit-focus-ring-color auto 5px ;
}

a { text-decoration: none; }















